version: 2
updates:
  - package-ecosystem: "gradle"
    directories:
      - "/"
      - "/wsdl2kotlin/"
      - "/wsdl2kotlin-runtime/"
      - "/wsdl2kotlin-gradle-plugin/"
    cooldown:
      default-days: 3
    schedule:
      interval: "weekly"
      timezone: "Asia/Tokyo"
      day: "friday"
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin.jvm"
          - "org.jetbrains.kotlin:kotlin-bom"
          - "org.jetbrains.kotlin:kotlin-stdlib"
    ignore:
      - dependency-name: "org.codefirst.wsdl2kotlin:wsdl2kotlin"

  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 3
    schedule:
      interval: "weekly"
      timezone: "Asia/Tokyo"
      day: "friday"
