name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version-file: '.java-version'
      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build and test all modules
        run: ./gradlew build
      - name: Upload jar files
        uses: actions/upload-artifact@v6
        with:
          name: jar
          path: |
            wsdl2kotlin/build/libs/wsdl2kotlin.jar
            wsdl2kotlin-runtime/build/libs/wsdl2kotlin-runtime.jar
            wsdl2kotlin-gradle-plugin/build/libs/wsdl2kotlin-gradle-plugin.jar
