name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Delete release if exists
        run: gh release delete ${{ github.ref_name }} -y
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Create release
        run: gh release create ${{ github.ref_name }} --generate-notes
        env:
          GITHUB_TOKEN: ${{ github.token }}
